// @package   CCS
// @filename  wrapper.less
// @version   1.0
// @autor     Díaz Urbaneja Víctor Eduardo Diex <diazvictor@tutamail.com>
// @date      04.07.2021 04:03:17 -04

// Para compilar el archivo desde la consola:
// lessc wrapper.less > wrapper.css

body {
	&.not-scroll-y {
		overflow-y: hidden;
	}
}

#overlay-bg {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	z-index: 2000;

	&.is-active {
		display: block;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "sidebar header"
						 "sidebar content"
						 "sidebar footer";
	min-height: 120vh;
	overflow-x: hidden;

	@media screen and (max-width: @breakpoints[large]) {
		& {
			grid-template-columns: 1fr;
			grid-template-areas: "header"
								 "content"
								 "footer";
		}
	}

	&.not-sidebar {
		grid-template-columns: 1fr;
		grid-template-areas: "header"
							 "content"
							 "footer";

		@media screen and (max-width: @breakpoints[large]) {
			& {
				.sidebar {
					display: block !important
				}
			}
		}

		.sidebar {
			display: none;
		}
	}

	.header {
		grid-area: header
	}

	.sidebar {
		grid-area: sidebar;
		width: 18rem;
		background-color: @gradient[primary];
		background-image: linear-gradient(@gradient[primary], @gradient[secondary]);
		animation: slideLeft .2s ease;

		#close-sidebar {
			color: rgba(255, 255, 255, 0.2);
			position: absolute;
			top: 40px;
			right: 15px;
		}

		@media screen and (max-width: @breakpoints[large]) {
			& {
				display: none;
				position: fixed;
				overflow-y: auto;
				height: 100vh;
				z-index: 99999;
			}
		}

		&-brand {
			display: flex;
			flex-flow: column;
			padding: 40px 0 40px 0;

			img {
				width: 70px;
				height: $width;
				margin: 0 auto;
			}

			.title {
				color: @white;
				font-size: 18px;
				text-align: center;
				text-transform: capitalize;
				font-weight: bold;
				margin-top: 10px;
			}
		}

		.sidenav {
			margin-bottom: 40px;
			border-top: 1px solid rgba(255, 255, 255, 0.2);

			.heading {
				margin: 40px 0 20px 40px;
				color: rgba(255, 255, 255, 0.2);
				font-weight: 800;
				text-transform: uppercase;
			}

			&-collapse-item {
				&-header {
					cursor: pointer;
					display: flex;
					color: rgba(255, 255, 255, 0.2);
					padding: 15px 40px;

					i:last-child {
						transition: all .2s ease-out;
					}

					&:hover {
						background-color: rgba(255, 255, 255, .1);
					}
				}

				&.is-collapsible {
					.sidenav-collapse-item {
						&-header {
							i:last-child {
								transform: rotate(90deg);
							}
						}

						&-body {
							display: block;
						}
					}
				}

				&.is-active {
					.sidenav-collapse-item {
						&-header {
							background-color: rgba(255, 255, 255, .1);
						}
					}
				}


				&-body {
					display: none;

					.sidenav-item {
						padding: 10px 36px 10px 70px;
						align-items: center;
						font-size: .8rem;

						&.is-active {
							color: @white;
							background-color: transparent;

							&:hover {
								background-color: rgba(255, 255, 255, .1);
							}
						}

					}
				}
			}

			&-item {
				cursor: pointer;
				display: flex;
				color: rgba(255, 255, 255, 0.2);
				padding: 15px 40px;

				&-icon {
					// flex-grow: 1;
					display: block;
					text-align: center;
					width: 24px;
					min-width: 24px;
				}

				&-content {
					flex-grow: 1;
					margin-left: 10px;
				}

				& + .heading {
					margin-top: 20px;
				}

				&:hover, &.is-active {
					background-color: rgba(255, 255, 255, .1);
				}
			}
		}
	}

	> .content {
		margin-top: 30px;
		margin-bottom: 30px;
		grid-area: content;
	}

	> .footer {
		grid-area: footer;
		background-color: @white;

		display: grid;
		grid-template-columns: 1fr auto;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		color: lighten(@grey, 30%);
		font-size: 12px;
		text-align: center;

		@media screen and (max-width: @breakpoints[small]) {
			& {
				grid-template-columns: 1fr;
				padding: 18px 0 18px 0;

				p {
					padding: 0 12px 18px 12px;
				}

				.social {
					margin-right: 0 !important;
					justify-content: center;
					padding-top: 18px;
					border-top: 1px solid darken(@bg-light, 3%);
				}
			}
		}

		.social {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 20px;
			margin-right: 10px;

			a {
				i {
					color: lighten(@grey, 30%);

					&.fab.fa-facebook-f {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}		
}
